@import "../styles.css";

.app-main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 700px;
  margin-bottom: 3rem;
}

.content h1 {
  margin-top: 1.75rem;
}

.content p {
  margin-top: 1.5rem;
}

.link-group {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  padding: 2rem;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.links {
  display: flex;
  align-items: center;
  background: color-mix(in srgb, var(--background) 20%, transparent);
  color: var(--title);
  padding-inline: 0.75rem;
  padding-block: 0.375rem;
  border-radius: 2.75rem;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: -0.00875rem;
  text-decoration: none;
  transition: 0.3s;
}

.links:hover {
  transition: 0.3s;
  background-color: color-mix(in srgb, cornflowerblue 15%, transparent);
}

.link-group a {
  color: #333;
  font-size: 16px;
  margin: 0 20px; /* Espaço padrão entre os links */
  transition: transform 0.3s ease, margin 0.3s ease; /* Suaviza o efeito */
}

.link-group a:hover {
  transform: scale(1.2);
  margin: 0 15px;
  transition: 0.3s;
}

.link-group svg {
  margin-inline-start: 0.25rem;
  color: cornflowerblue;
}

.social-links {
  display: inline-block;
  align-items: center;
  gap: 0.73rem;
  margin-top: 1.5rem;
}

.social-links img {
  margin: 0.5rem;
  width: 2.5rem;
}

.social-links img:hover {
  fill: cornflowerblue;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background);
  color: var(--text);
  max-height: 100px;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 80px;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.navigation a {
  text-decoration: none;
  color: var(--text--color, #333);
  font-size: 1rem; /* Tamanho da fonte */
  font-weight: 500; /* Peso da fonte */
  padding: 10px;
  transition: color 0.3s ease, transform 0.3s ease; /* Transições suaves para cor e transformação */
}

.navigation a.active {
  color: var(--active-color, #3498db); /* Cor para o link ativo */
  transform: scale(1.1); /* Aumenta o tamanho do link ativo */
}

.navigation a:hover {
  color: var(--hover-color, #555); /* Cor do texto ao passar o mouse */
  transform: scale(1.05); /* Leve aumento de tamanho no hover */
}

.login {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  align-items: center;
  justify-content: center;
}

.login button {
  display: flex;
  width: 100px;
  border-radius: 10px;
}

.login img {
  padding-left: 30px;
}

.icon {
  margin: 0.25rem;
}

.icon2 {
  margin: 0.25rem;
}
