<body>
  <header class="app-header">
    <div class="logo">
      <img src="/app/assets/logo-icon.svg" alt="Logo Icon" class="logo-icon" />
      <span class="portfolio">{{ title }}</span>
    </div>

    <nav class="navigation">
      <a [routerLink]="['/']" routerLinkActive="active">Home</a>
      <a [routerLink]="['/portfolio']" routerLinkActive="active">Portfolio</a>
    </nav>

    <div class="corner-btn">
      <nav class="login">
        <button
          aria-label="Login"
          (click)="modalService.openLoginModal()"
          type="menu"
        >
          <img class="icon" src="/app/assets/login-icon.svg" alt="Login Icon" />
          Login
        </button>
      </nav>

      <nav class="register">
        <button
          aria-label="Register"
          (click)="modalService.openRegisterModal()"
        >
          <img
            class="icon"
            src="/app/assets/register-icon.svg"
            alt="Register Icon"
          />
          Cadastre-se
        </button>
      </nav>
    </div>
  </header>

  <main class="app-main">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </main>

  <app-login-modal
    *ngIf="modalService.isLoginModalOpen$ | async"
  ></app-login-modal>

  <app-register-modal
    *ngIf="modalService.isRegisterModalOpen$ | async"
  ></app-register-modal>

  <div class="link-group" *ngFor="let item of links; let i = index">
    <a
      class="links"
      [href]="item.link"
      target="_blank"
      rel="noopener"
      [ngClass]="'item-' + i"
    >
      <span>{{ item.title }} </span>
      <img class="icon" src="{{ item.src }}" alt="Link icon" />
    </a>
  </div>

  <footer class="footer">
    <p>&copy; 2025 - Rafael Felipe Cordeiro</p>
  </footer>
</body>
