<body>
  <main class="home">
    <section class="title">
      <h1>{{ title }}</h1>
      <p>
        Este é um site que eu fiz para me apresentar como desenvolvedor e
        demonstrar as minhas habilidades na área.
      </p>
    </section>
    <section class="description">
      <a href="/about">
        <div class="description-text">
          <h2>{{ description }}</h2>
          <p>
            Sou um desenvolvedor fullstack, formando em Ciência da Computação,
            possuo experiência de 2 anos e 2 meses com C#, SQL Server, VB.NET e
            JavaScript na LG Lugar de Gente, Atualmente estou estudando Java
            utilizando Spring com Hibernate e Angular, que inclusive são as
            tecnologias utilizadas para montar esse site.
          </p>
        </div>
        <img class="icon2 arrow" src="assets/arrow-icon.svg" alt="Arrow" />
      </a>
    </section>
  </main>
</body>
