.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.63);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 500;
}

.modal-content {
  background-color: rgb(31, 31, 31);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  color: white;
}

input {
  position: relative;
  display: inline-block;
  text-align: start;
  padding: 10px;
  width: 100%;
  margin: 15px 0;
  border-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
}

input::placeholder {
  color: #666;
  font-weight: 400;
}

.register-btn {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: transparent;
  text-decoration: none;
  color: rgb(29, 148, 65);
  border: 2px solid #5f975f;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #0c992a;
  font-size: 18px;
  transition: ease-out 0.3s;
}

.register-btn:hover {
  color: white;
  box-shadow: inset 500px 0 0 0 #0c992a;
  border: 2px solid #0c992a;
}

.register-btn:active {
  transform: scale(0.9);
}

.error-message {
  color: red;
  text-align: center;
}

.close-btn {
  position: relative;
  bottom: 85px;
  left: 90%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: red;
  cursor: pointer;
  transition: color 0.3s; /* Cor vermelha */
  z-index: 600;
}

.validation {
  color: #fceded;
}

.validation:enabled {
  color: #b4272b;
}
